@charset "UTF-8";
/* CSS Document */

/*
================= Horizontal Navigation Home English=================*/
.container .spritenavmain #hnavhome{
	position: absolute;
	left: 0;
	width: 980px;
	height: 40px;
	background: url('../eng/images/spriteimage_english_purple.jpg') no-repeat;
	list-style-type: none;
	margin-top: -0px;
}
#hnavhome li { position: absolute; left: 0; height: 40px; }
	#hnavhome #hnavhome1 { width: 186px; left: 0px; }
	#hnavhome #hnavhome2 { width: 157px; left: 186px; }
	#hnavhome #hnavhome3{ width: 150px; left: 343px; }
	#hnavhome #hnavhome4 { width: 162px; left: 493px; }
	#hnavhome #hnavhome5 { width: 161px; left: 655px; }
	#hnavhome #hnavhome6 { width: 164px; left: 816px; }
#hnavhome li a { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 40px; text-indent: -9999em; }




/*
================= Vertical Navigation==================*/
#vnavhome { position: absolute; top: 100%; left: 0; width: 186px; height: 131px; background: url('../eng/images/vertical_e_navi1_purple.png') no-repeat; list-style-type: none;}
#vnavhome li { position: absolute; left: 0; width: 186px; height: 43px; list-style-type: none; }
	#vnavhome #vnavwhy1 { height: 43px; top: 0px; }
	#vnavhome #vnavwhy2 { height: 43px; top: 43px; }
	#vnavhome #vnavwhy3{ height: 43px; top: 86px; }
#vnavhome li a { display: block; position: absolute; top: 0; left: 0; width: 186px; height: 43px; text-indent: -9999em; }

#hnavhome li#hnavhome1 > ul#vnavhome {
	display:none;
	position:absolute;}
	#hnavhome li#hnavhome1:hover > ul#vnavhome {
		display:block;
		position:absolute;}
		
/* ============================ Vertical Navigation Home 2==========*/

#vnavhome2 { position: absolute; top: 100%; left: 0; width: 157px; height: 58px; background: url('../eng/images/vertical_e_navi2_purple.png') no-repeat; list-style-type: none;}
#vnavhome2 li { position: absolute; left: 0; width: 157px; height: 58px; list-style-type: none; }
	#vnavhome2 #vnavhproducts1 { height: 58px; top: 0px; }
#vnavhome2 li a { display: block; position: absolute; top: 0; left: 0; width: 157px; height: 58px; text-indent: -9999em; }
		
		#hnavhome li#hnavhome2 > ul#vnavhome2 {
	display:none;
	position:absolute;}

	#hnavhome li#hnavhome2:hover > ul#vnavhome2 {
		display:block;}
	
	/* ============================ Vertical Navigation Home 3==========*/
	
	#vnavhome3 { position: absolute; top: 100%; left: 0; width: 150px; height: 211px; background: url('../eng/images/vertical_e_navi3_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhome3 li { position: absolute; left: 0; width: 150px; height: 42px; list-style-type: none; }
	#vnavhome3 #vnavhservices1 { height: 53px; top: 0px; }
	#vnavhome3 #vnavhservices2 { height: 43px; top: 53px; }
	#vnavhome3 #vnavhservices3 { height: 32px; top: 93px; }
	#vnavhome3 #vnavhservices4 { height: 43px; top: 136px; }
	#vnavhome3 #vnavhservices5{ height: 35px; top: 179px; }
#vnavhome3 li a { display: block; position: absolute; top: 0; left: 0; width: 150px; height: 42px; text-indent: -9999em; }
		
		#hnavhome li#hnavhome3 > ul#vnavhome3 {
	display:none;
	position:absolute;}

	#hnavhome li#hnavhome3:hover > ul#vnavhome3 {
		display:block;}
	
	
	
	/* ============================ Vertical Navigation Home 4==========*/
	
	
		#vnavhome4 { position: absolute; top: 100%; left: 0; width: 162px; height: 90px; background: url('../eng/images/vertical_e_navi4_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhome4 li { position: absolute; left: 0; width: 162px; height: 45px; list-style-type: none; }
	#vnavhome4 #vnavhtravel1 { height: 45px; top: 0px; }
	#vnavhome4 #vnavhtravel2 { height: 45px; top: 45px; }
#vnavhome4 li a { display: block; position: absolute; top: 0; left: 0; width: 162px; height: 45px; text-indent: -9999em; }
		
		#hnavhome li#hnavhome4 > ul#vnavhome4 {
	display:none;
	position:absolute;}

	#hnavhome li#hnavhome4:hover > ul#vnavhome4 {
		display:block;}
	
	
	
	/* ============================ Vertical Navigation Home 5==========*/
	
	
			#vnavhome5 { position: absolute; top: 100%; left: 0; width: 161px; height: 90px; background: url('../eng/images/vertical_e_navi5_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhome5 li { position: absolute; left: 0; width: 161px; height: 45px; list-style-type: none; }
	#vnavhome5 #vnavhabout1 { height: 45px; top: 0px; }
	#vnavhome5 #vnavhabout2 { height: 45px; top: 45px; }
#vnavhome5 li a { display: block; position: absolute; top: 0; left: 0; width: 161px; height: 45px; text-indent: -9999em; }
		
		#hnavhome li#hnavhome5 > ul#vnavhome5 {
	display:none;
	position:absolute;}

	#hnavhome li#hnavhome5:hover > ul#vnavhome5 {
		display:block;}
	
	
	
	
	
	/* ============================ Vertical Navigation Home 6==========*/	
		
			
			#vnavhome6 { position: absolute; top: 100%; left: 0; width: 164px; height: 131px; background: url('../eng/images/vertical_e_navi6_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhome6 li { position: absolute; left: 0; width: 164px; height: 43px; list-style-type: none; }
		#vnavhomerus6 #vnavhgallery1 { height: 43px; top: 0px; }
	#vnavhomerus6 #vnavhgallery3 { height: 43px; top: 43px; }
	#vnavhomerus6 #vnavhgallery3 { height: 43px; top: 86px; }
#vnavhome6 li a { display: block; position: absolute; top: 0; left: 0; width: 164px; height: 43px; text-indent: -9999em; }
		
		#hnavhome li#hnavhome6 > ul#vnavhome6 {
	display:none;
	position:absolute;}
	#hnavhome li#hnavhome6:hover {
		text-decoration:underline;}

	#hnavhome li#hnavhome6:hover > ul#vnavhome6 {
		display:block;}
	
	
	
		

/*
================= Horizontal Navigation Home Russian=================*/
.container .spritenavmain #hnavhomerus{
	position: absolute;
	left: 0;
	width: 980px;
	height: 40px;
	background: url('../eng/images/spriteimage_russian_purple.jpg') no-repeat;
	list-style-type: none;
	margin-top: -0px;
}
#hnavhomerus li { position: absolute; left: 0; height: 40px; }
	#hnavhomerus #hnavhomerus1 { width: 186px; left: 0px; }
	#hnavhomerus #hnavhomerus2 { width: 157px; left: 186px; }
	#hnavhomerus #hnavhomerus3{ width: 150px; left: 343px; }
	#hnavhomerus #hnavhomerus4 { width: 162px; left: 493px; }
	#hnavhomerus #hnavhomerus5 { width: 161px; left: 655px; }
	#hnavhomerus #hnavhomerus6 { width: 164px; left: 816px; }
#hnavhomerus li a { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 40px; text-indent: -9999em; }

/*
================= Vertical Navigation==================*/
#vnavhomerus { position: absolute; top: 100%; left: 0; width: 186px; height: 150px; background: url('../eng/images/vertical_r_navi1_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhomerus li { position: absolute; left: 0; width: 186px; height: 50px; list-style-type: none; }
	#vnavhomerus #vnavwhy1 { height: 50px; top: 0px; }
	#vnavhomerus #vnavwhy2 { height: 50px; top: 50px; }
	#vnavhomerus #vnavwhy3{ height: 50px; top: 100px; }
#vnavhomerus li a { display: block; position: absolute; top: 0; left: 0; width: 186px; height: 50px; text-indent: -9999em; }

#hnavhomerus li#hnavhomerus1 > ul#vnavhomerus {
	display:none;
	position:absolute;}
	#hnavhomerus li#hnavhomerus1:hover > ul#vnavhomerus {
		display:block;
		position:absolute;}
		
/* ============================ Vertical Navigation Home 2==========*/

#vnavhomerus2 { position: absolute; top: 100%; left: 0; width: 157px; height: 58px; background: url('../eng/images/vertical_r_navi2_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhomerus2 li { position: absolute; left: 0; width: 157px; height: 58px; list-style-type: none; }
	#vnavhomerus2 #vnavhproducts1 { height: 58px; top: 0px; }
#vnavhomerus2 li a { display: block; position: absolute; top: 0; left: 0; width: 157px; height: 58px; text-indent: -9999em; }
		
		#hnavhomerus li#hnavhomerus2 > ul#vnavhomerus2 {
	display:none;
	position:absolute;}

	#hnavhomerus li#hnavhomerus2:hover > ul#vnavhomerus2 {
		display:block;}
	
	/* ============================ Vertical Navigation Home 3==========*/
	
	#vnavhomerus3 { position: absolute; top: 100%; left: 0; width: 150px; height: 211px; background: url('../eng/images/vertical_r_navi3_purple.png') no-repeat; list-style-type: none; z-index:1000;} 
#vnavhomerus3 li { position: absolute; left: 0; width: 150px; height: 42px; list-style-type: none; }
	#vnavhomerus3 #vnavhservices1 { height: 42px; top: 0px; }
	#vnavhomerus3 #vnavhservices2 { height: 42px; top: 42px; }
	#vnavhomerus3 #vnavhservices3 { height: 42px; top: 84px; }
	#vnavhomerus3 #vnavhservices4 { height: 42px; top: 126px; }
	#vnavhomerus3 #vnavhservices5 { height: 42px; top: 168px; }
#vnavhomerus3 li a { display: block; position: absolute; top: 0; left: 0; width: 150px; height: 42px; text-indent: -9999em; }
		
		#hnavhomerus li#hnavhomerus3 > ul#vnavhomerus3 {
	display:none;
	position:absolute;}

	#hnavhomerus li#hnavhomerus3:hover > ul#vnavhomerus3 {
		display:block;}
	
	
	
	/* ============================ Vertical Navigation Home 4==========*/
	
	
		#vnavhomerus4 { position: absolute; top: 100%; left: 0; width: 162px; height: 90px; background: url('../eng/images/vertical_r_navi4_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhomerus4 li { position: absolute; left: 0; width: 157px; height: 45px; list-style-type: none; }
	#vnavhomerus4 #vnavhtravel1 { height: 45px; top: 0px; }
	#vnavhomerus4 #vnavhtravel2 { height: 45px; top: 45px; }
#vnavhomerus4 li a { display: block; position: absolute; top: 0; left: 0; width: 162px; height: 45px; text-indent: -9999em; }
		
		#hnavhomerus li#hnavhomerus4 > ul#vnavhomerus4 {
	display:none;
	position:absolute;}

	#hnavhomerus li#hnavhomerus4:hover > ul#vnavhomerus4 {
		display:block;}
		
	
	
	/* ============================ Vertical Navigation Home 5==========*/
	
	
			#vnavhomerus5 { position: absolute; top: 100%; left: 0; width: 161px; height: 90px; background: url('../eng/images/vertical_r_navi5_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhomerus5 li { position: absolute; left: 0; width: 161px; height: 45px; list-style-type: none; }
	#vnavhomerus5 #vnavhabout1 { height: 45px; top: 0px; }
	#vnavhomerus5 #vnavhabout2 { height: 45px; top: 45px; }
#vnavhomerus5 li a { display: block; position: absolute; top: 0; left: 0; width: 157px; height: 45px; text-indent: -9999em; }
		
		#hnavhomerus li#hnavhomerus5 > ul#vnavhomerus5 {
	display:none;
	position:absolute;}

	#hnavhomerus li#hnavhomerus5:hover > ul#vnavhomerus5 {
		display:block;}
	
	
	
	
	
	/* ============================ Vertical Navigation Home 6==========*/	
		
			
			#vnavhomerus6 { position: absolute; top: 100%; left: 0; width: 164px; height: 131px; background: url('../eng/images/vertical_r_navi6_purple.png') no-repeat; list-style-type: none; z-index:1000;}
#vnavhomerus6 li { position: absolute; left: 0; width: 164px; height: 43px; list-style-type: none; }
	#vnavhomerus6 #vnavhgallery1 { height: 43px; top: 0px; }
	#vnavhomerus6 #vnavhgallery3 { height: 43px; top: 43px; }
	#vnavhomerus6 #vnavhgallery3 { height: 43px; top: 86px; }
#vnavhomerus6 li a { display: block; position: absolute; top: 0; left: 0; width: 164px; height: 43px; text-indent: -9999em; }
		
		#hnavhomerus li#hnavhomerus6 > ul#vnavhomerus6 {
	display:none;
	position:absolute;}

	#hnavhomerus li#hnavhomerus6:hover > ul#vnavhomerus6 {
		display:block;}
	
	
	
		




